In [3]:
import pandas as pd

In [4]:
# Load entire file
chunker = pd.read_csv("/home/pi/Downloads/tags-20210226.csv", chunksize=10000)
tags = pd.concat(chunker, ignore_index=True)

In [10]:
tags

,id,type,name,canonical,cached_count,merger_id
0,1,Media,TV Shows,True,910,NaN
1,2,Media,Movies,True,1164,NaN
2,3,Media,Books & Literature,True,134,NaN
3,4,Media,Cartoons & Comics & Graphic Novels,True,166,NaN
4,5,Media,Anime & Manga,True,501,NaN
...,...,...,...,...,...,...
14467133,55395603,Freeform,Redacted,False,0,NaN
14467134,55395606,Freeform,Redacted,False,0,NaN
14467135,55395609,Freeform,Redacted,False,0,NaN
14467136,55395612,Freeform,Redacted,False,0,NaN
14467137,55395615,Freeform,Redacted,False,0,NaN

In [8]:
tag_type = tags.type.unique()
tag_type

array(['Media', 'Rating', 'ArchiveWarning', 'Category', 'Character',
       'Fandom', 'Relationship', 'Freeform', 'UnsortedTag'], dtype=object)

In [9]:
# Test: Loop tag_type
for i in tag_type:
    print(i)

Media
Rating
ArchiveWarning
Category
Character
Fandom
Relationship
Freeform
UnsortedTag

In [12]:
# Select tags by type
tags[tags['type'] == 'Media']

,id,type,name,canonical,cached_count,merger_id
0,1,Media,TV Shows,True,910,NaN
1,2,Media,Movies,True,1164,NaN
2,3,Media,Books & Literature,True,134,NaN
3,4,Media,Cartoons & Comics & Graphic Novels,True,166,NaN
4,5,Media,Anime & Manga,True,501,NaN
5,6,Media,Music & Bands,True,19,NaN
6,7,Media,Celebrities & Real People,True,33,NaN
7,8,Media,Other Media,True,11,NaN
388,476,Media,Video Games,True,448,NaN
4510,5451,Media,No Media,True,0,NaN
8150,9971,Media,Uncategorized Fandoms,True,1,NaN
23433,30198,Media,Theater,True,104,NaN

In [11]:
# Test: write to local file

path = 'Media.csv'
tags[tags['type'] == 'Media'].to_csv(path, index=False)

In [13]:
# Loop action for all tag types
for i in tag_type:
    path = f"tags-{i}.csv"
    tags[tags['type'] == i].to_csv(path, index=False)