In [3]:
import pandas as pd

In [4]:
# Load entire file
chunker = pd.read_csv("/home/pi/Downloads/works-20210226.csv", chunksize=10000)
works = pd.concat(chunker, ignore_index=True)

In [6]:
# Make sure the date column is in datetime format
works['creation date'] = pd.to_datetime(works['creation date'])

In [23]:
# Sort the DataFrame in ascending order
works.sort_values(by=['creation date'], inplace=True, ignore_index=True)

# Get rid of last column
works = works.iloc[:,:6]

In [24]:
# Test: Selecting data for the year of 2008
works_2008 = works[works['creation date'].dt.year == 2008]
works_2008

,creation date,language,restricted,complete,word_count,tags
0,2008-09-13,en,False,True,1836.0,123+124+125+127+128+13+129+14+130+131+132+133+...
1,2008-09-13,en,False,True,5836.0,12+56+57+23+58+59+60+61+62+16
2,2008-09-13,en,False,True,1338.0,112+113+13+114+16+115+101+117+118+119+120+116+...
3,2008-09-13,en,False,True,733.0,79+80+82+10+16+83+24
4,2008-09-13,en,False,True,1755.0,77+78+69+108+109+62+110+23+9+111+16+70+10128+4858
...,...,...,...,...,...,...
1980,2008-12-30,en,False,True,339.0,23+4443+3879+4444+16+110+11+244259+244
1981,2008-12-30,en,False,True,2370.0,21+3997+4445+4446+4447+16+1299+10
1982,2008-12-30,en,False,True,596.0,23+272+70+4440+77+209+4441+184+1980+10+16
1983,2008-12-30,en,False,True,4551.0,116+353+4437+3768+4438+4439+1950+10+16
1984,2008-12-31,en,False,True,432.0,24+4448+4449+16+4450+4451+4452+4453+11

In [18]:
# Test: write to local file

path = 'works-2008.csv'
works_2008.to_csv(path)

In [26]:
# Loop action for the year 2008 to 2021
for i in range(2008,2021+1):
    path = f"works-{i}.csv"
    works[works['creation date'].dt.year == i].to_csv(path, index=False)